.add {
    color: black;
    border: 3px solid rgb(126, 190, 123);
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;


    background-color: #000000;
    width: 800px;
    height: 600px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 50px;
  }

.add_table {
    width: 800px;
}

.edit {
    color: black;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;


    background-color: rgb(27, 27, 27);
    width: 996px;
    height: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 50px;
}

.input {
  width: 230px;
  margin: 0;
}

.area {
  width: 900px;
  height: 400px;
}

input, textarea {
  background-color: rgb(59, 59, 59);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  ;
}

input::placeholder, textarea::placeholder {
  color: white;
}

button {
  background-color: black;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  color:white;
  background-color: rgb(126, 190, 123);
}